:root {
	--gray: #ededed;
	--veryLightBlue: #acd5f2;
	--lightBlue: #7fa8c9;
	--blue: #527ba0;
	--darkBlue: #254e77;
	--textColor: #959494;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
}

p {
	margin: 0;
	color: var(--textColor);
	font-family: 'Inter', serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.52px;
}

.blocks {
	display: flex;
	flex-direction: row;
	width: 869px;
	gap: 2px;
	padding: 2px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.column:last-child {
	margin-right: 0;
}

.day {
	width: 15px;
	height: 15px;
	background-color: var(--gray);
	position: relative;
	transform-style: preserve-3d;
}

.day:hover.day::before {
	content: '';
	width: 17px;
	height: 17px;
	background-color: #00000050;
	position: absolute;
	top: -1px;
	left: -1px;
	transform: translateZ(-1px);
}

.day:focus.day::before {
	content: '';
	width: 17px;
	height: 17px;
	background-color: #000000e5;
	position: absolute;
	top: -1px;
	left: -1px;
	transform: translateZ(-1px);
}

.veryLightBlue {
	background-color: var(--veryLightBlue);
}

.lightBlue {
	background-color: var(--lightBlue);
}

.blue {
	background-color: var(--blue);
}

.darkBlue {
	background-color: var(--darkBlue);
}

.months {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
	gap: 42px;
}

.weekdays {
	display: flex;
	flex-direction: column;
	width: 17px;
	margin-right: 5px;
	box-sizing: border-box;
}

.single-weekday {
	width: 15px;
	height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	margin-bottom: 2px;
	box-sizing: border-box;
}
